@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Clash Display', sans-serif;
}

html,body{
  height: 100%;
  /* font-size: 12px; */
}

/* Base styles for larger screens (min-width: 1536px) */
@media (min-width: 1536px) {
  h1 {
    font-size: 64px;
    color: hsla(20, 8%, 7%, 1);
    font-weight: 600; /* Semibold */
    font-family: 'Clash Display', sans-serif;
  }
  h2 {
    font-size: 48px;
    color: hsla(20, 8%, 7%, 1);
    font-weight: 500; /* Medium */
    font-family: 'Montserrat', sans-serif;
  }
  h3 {
    font-size: 28px;
    color: hsla(20, 8%, 7%, 1);
    font-weight: 700; /* Bold */
    font-family: 'Montserrat', sans-serif;
  }
  h4 {
    font-size: 22px;
    color: hsla(20, 8%, 7%, 1);
    font-weight: 600; /* Semibold */
    font-family: 'Montserrat', sans-serif;
  }
  h5 {
    font-size: 18px;
    color: hsla(0, 0%, 24%, 0.75); /* 75% opacity */
    font-weight: 400; /* Regular */
    font-family: 'Montserrat', sans-serif;
    opacity: 0.75;
  }
  h6 {
    font-size: 16px;
    color: hsla(0, 0%, 24%, 0.75); /* 75% opacity */
    font-weight: 400; /* Regular */
    font-family: 'Montserrat', sans-serif;
    opacity: 0.75;
  }
  p {
    font-size: 14px;
    color: hsla(0, 0%, 24%, 0.75); /* 75% opacity */
    font-weight: 400; /* Regular */
    font-family: 'Montserrat', sans-serif;
    opacity: 0.75;
  }
  button {
    font-size: 16px;
    font-weight: 700; /* Bold */
    font-family: 'Montserrat', sans-serif;
  }
}

/* Styles for xl screens (max-width: 1535px) */
@media (max-width: 1535px) {
  h1 {
    font-size: 56px;
    color: hsla(20, 8%, 7%, 1);
    font-weight: 600; /* Semibold */
    font-family: 'Clash Display', sans-serif;
  }
  h2 {
    font-size: 42px;
    color: hsla(20, 8%, 7%, 1);
    font-weight: 500; /* Medium */
    font-family: 'Montserrat', sans-serif;
  }
  h3 {
    font-size: 24px;
    color: hsla(20, 8%, 7%, 1);
    font-weight: 700; /* Bold */
    font-family: 'Montserrat', sans-serif;
  }
  h4 {
    font-size: 20px;
    color: hsla(20, 8%, 7%, 1);
    font-weight: 600; /* Semibold */
    font-family: 'Montserrat', sans-serif;
  }
  h5 {
    font-size: 16px;
    color: hsla(0, 0%, 24%, 0.75); /* 75% opacity */
    font-weight: 400; /* Regular */
    font-family: 'Montserrat', sans-serif;
    opacity: 0.75;
  }
  h6 {
    font-size: 14px;
    color: hsla(0, 0%, 24%, 0.75); /* 75% opacity */
    font-weight: 400; /* Regular */
    font-family: 'Montserrat', sans-serif;
    opacity: 0.75;
  }
  p {
    font-size: 12px;
    color: hsla(0, 0%, 24%, 0.75); /* 75% opacity */
    font-weight: 400; /* Regular */
    font-family: 'Montserrat', sans-serif;
    opacity: 0.75;
  }
  button {
    font-size: 16px;
    font-weight: 700; /* Bold */
    font-family: 'Montserrat', sans-serif;
  }
}

/* Styles for lg screens (max-width: 1279px) */
@media (max-width: 1279px) {
  h1 {
    font-size: 48px;
    color: hsla(20, 8%, 7%, 1);
    font-weight: 600; /* Semibold */
    font-family: 'Clash Display', sans-serif;
  }
  h2 {
    font-size: 40px;
    color: hsla(20, 8%, 7%, 1);
    font-weight: 500; /* Medium */
    font-family: 'Montserrat', sans-serif;
  }
  h3 {
    font-size: 22px;
    color: hsla(20, 8%, 7%, 1);
    font-weight: 700; /* Bold */
    font-family: 'Montserrat', sans-serif;
  }
  h4 {
    font-size: 18px;
    color: hsla(20, 8%, 7%, 1);
    font-weight: 600; /* Semibold */
    font-family: 'Montserrat', sans-serif;
  }
  h5 {
    font-size: 14px;
    color: hsla(0, 0%, 24%, 0.75); /* 75% opacity */
    font-weight: 400; /* Regular */
    font-family: 'Montserrat', sans-serif;
    opacity: 0.75;
  }
  h6 {
    font-size: 12px;
    color: hsla(0, 0%, 24%, 0.75); /* 75% opacity */
    font-weight: 400; /* Regular */
    font-family: 'Montserrat', sans-serif;
    opacity: 0.75;
  }
  p {
    font-size: 12px;
    color: hsla(0, 0%, 24%, 0.75); /* 75% opacity */
    font-weight: 400; /* Regular */
    font-family: 'Montserrat', sans-serif;
    opacity: 0.75;
  }
  button {
    font-size: 16px;
    font-weight: 700; /* Bold */
    font-family: 'Montserrat', sans-serif;
  }
}

/* Styles for md screens (max-width: 1023px) */
@media (max-width: 1023px) {
  h1 {
    font-size: 40px;
    color: hsla(20, 8%, 7%, 1);
    font-weight: 600; /* Semibold */
    font-family: 'Clash Display', sans-serif;
  }
  h2 {
    font-size: 36px;
    color: hsla(20, 8%, 7%, 1);
    font-weight: 500; /* Medium */
    font-family: 'Montserrat', sans-serif;
  }
  h3 {
    font-size: 20px;
    color: hsla(20, 8%, 7%, 1);
    font-weight: 700; /* Bold */
    font-family: 'Montserrat', sans-serif;
  }
  h4 {
    font-size: 16px;
    color: hsla(20, 8%, 7%, 1);
    font-weight: 600; /* Semibold */
    font-family: 'Montserrat', sans-serif;
  }
  h5 {
    font-size: 14px;
    color: hsla(0, 0%, 24%, 0.75); /* 75% opacity */
    font-weight: 400; /* Regular */
    font-family: 'Montserrat', sans-serif;
    opacity: 0.75;
  }
  h6 {
    font-size: 12px;
    color: hsla(0, 0%, 24%, 0.75); /* 75% opacity */
    font-weight: 400; /* Regular */
    font-family: 'Montserrat', sans-serif;
    opacity: 0.75;
  }
  p {
    font-size: 12px;
    color: hsla(0, 0%, 24%, 0.75); /* 75% opacity */
    font-weight: 400; /* Regular */
    font-family: 'Montserrat', sans-serif;
    opacity: 0.75;
  }
  button {
    font-size: 16px;
    font-weight: 700; /* Bold */
    font-family: 'Montserrat', sans-serif;
  }
}

/* Styles for sm screens (max-width: 767px) */
@media (max-width: 767px) {
  h1 {
    font-size: 32px;
    color: hsla(20, 8%, 7%, 1);
    font-weight: 600; /* Semibold */
    font-family: 'Clash Display', sans-serif;
  }
  h2 {
    font-size: 28px;
    color: hsla(20, 8%, 7%, 1);
    font-weight: 500; /* Medium */
    font-family: 'Montserrat', sans-serif;
  }
  h3 {
    font-size: 18px;
    color: hsla(20, 8%, 7%, 1);
    font-weight: 700; /* Bold */
    font-family: 'Montserrat', sans-serif;
  }
  h4 {
    font-size: 14px;
    color: hsla(20, 8%, 7%, 1);
    font-weight: 600; /* Semibold */
    font-family: 'Montserrat', sans-serif;
  }
  h5 {
    font-size: 12px;
    color: hsla(0, 0%, 24%, 0.75); /* 75% opacity */
    font-weight: 400; /* Regular */
    font-family: 'Montserrat', sans-serif;
    opacity: 0.75;
  }
  h6 {
    font-size: 10px;
    color: hsla(0, 0%, 24%, 0.75); /* 75% opacity */
    font-weight: 400; /* Regular */
    font-family: 'Montserrat', sans-serif;
    opacity: 0.75;
  }
  p {
    font-size: 10px;
    color: hsla(0, 0%, 24%, 0.75); /* 75% opacity */
    font-weight: 400; /* Regular */
    font-family: 'Montserrat', sans-serif;
    opacity: 0.75;
  }
  button {
    font-size: 16px;
    font-weight: 700; /* Bold */
    font-family: 'Montserrat', sans-serif;
  }
}

/* Styles for xs screens (max-width: 479px) */
@media (max-width: 479px) {
  h1 {
    font-size: 28px;
    color: hsla(20, 8%, 7%, 1);
    font-weight: 600; /* Semibold */
    font-family: 'Clash Display', sans-serif;
  }
  h2 {
    font-size: 24px;
    color: hsla(20, 8%, 7%, 1);
    font-weight: 500; /* Medium */
    font-family: 'Montserrat', sans-serif;
  }
  h3 {
    font-size: 16px;
    color: hsla(20, 8%, 7%, 1);
    font-weight: 700; /* Bold */
    font-family: 'Montserrat', sans-serif;
  }
  h4 {
    font-size: 14px;
    color: hsla(20, 8%, 7%, 1);
    font-weight: 600; /* Semibold */
    font-family: 'Montserrat', sans-serif;
  }
  h5 {
    font-size: 12px;
    color: hsla(0, 0%, 24%, 0.75); /* 75% opacity */
    font-weight: 400; /* Regular */
    font-family: 'Montserrat', sans-serif;
    opacity: 0.75;
  }
  h6 {
    font-size: 10px;
    color: hsla(0, 0%, 24%, 0.75); /* 75% opacity */
    font-weight: 400; /* Regular */
    font-family: 'Montserrat', sans-serif;
    opacity: 0.75;
  }
  p {
    font-size: 10px;
    color: hsla(0, 0%, 24%, 0.75); /* 75% opacity */
    font-weight: 400; /* Regular */
    font-family: 'Montserrat', sans-serif;
    opacity: 0.75;
  }
  button {
    font-size: 16px;
    font-weight: 700; /* Bold */
    font-family: 'Montserrat', sans-serif;
  }
}

/* Styles for tablets (min-width: 1024px and max-width: 1200px) */
@media (min-width: 1024px) and (max-width: 1200px) {
  h1 {
    font-size: 48px;
    color: hsla(20, 8%, 7%, 1);
    font-weight: 600; /* Semibold */
    font-family: 'Clash Display', sans-serif;
  }
  h2 {
    font-size: 40px;
    color: hsla(20, 8%, 7%, 1);
    font-weight: 500; /* Medium */
    font-family: 'Montserrat', sans-serif;
  }
  h3 {
    font-size: 24px;
    color: hsla(20, 8%, 7%, 1);
    font-weight: 700; /* Bold */
    font-family: 'Montserrat', sans-serif;
  }
  h4 {
    font-size: 20px;
    color: hsla(20, 8%, 7%, 1);
    font-weight: 600; /* Semibold */
    font-family: 'Montserrat', sans-serif;
  }
  h5 {
    font-size: 16px;
    color: hsla(0, 0%, 24%, 0.75); /* 75% opacity */
    font-weight: 400; /* Regular */
    font-family: 'Montserrat', sans-serif;
    opacity: 0.75;
  }
  h6 {
    font-size: 14px;
    color: hsla(0, 0%, 24%, 0.75); /* 75% opacity */
    font-weight: 400; /* Regular */
    font-family: 'Montserrat', sans-serif;
    opacity: 0.75;
  }
  p {
    font-size: 12px;
    color: hsla(0, 0%, 24%, 0.75); /* 75% opacity */
    font-weight: 400; /* Regular */
    font-family: 'Montserrat', sans-serif;
    opacity: 0.75;
  }
  button {
    font-size: 16px;
    font-weight: 700; /* Bold */
    font-family: 'Montserrat', sans-serif;
  }
}






@font-face {
  src: url(/fonts/ClashDisplay-Variable.ttf);
  font-family: clashDisplay;
}

@font-face {
  src: url(/fonts/Montserrat-VariableFont_wght.ttf);
  font-family: montserrat;
}


